@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* body {
  background: -webkit-gradient(linear, left top, right top, from(#4b4ea2), to(#e14444)) no-repeat;
  background: linear-gradient(left, #4b4ea2, #e14444) no-repeat;
  background-size: 140%;
  min-height: 100vh;
  max-width: 90%;
  margin: auto;
  font-family: "Roboto", sans-serif;
}

* body header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 2px solid white;
  padding: 20px 0;
  margin: 30px auto;
  width: 95%;
}

* body header h1 {
  margin-right: auto;
  font-size: 35px;
}

* body header h1 a {
  text-decoration: none;
  color: white;
  font-family: "Permanent Marker", cursive;
}

* body header input {
  width: 250px;
  height: 40px;
  border-radius: 10px;
  outline: none;
  border: none;
  padding: 0 0 0 5px;
}

* body main .grid {
  width: 100%;
  height: auto;
  margin: 60px 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(320px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  -ms-grid-rows: (minmax(19.375vw, 1fr))[auto-fit];
      grid-template-rows: repeat(auto-fit, minmax(19.375vw, 1fr));
  grid-auto-flow: dense;
  -webkit-column-gap: 43px;
          column-gap: 43px;
  row-gap: 40px;
}

* body main .grid .card {
  width: 277px;
  height: 370px;
  background-color: #363333;
  padding: 20px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  border-radius: 30px;
  margin: auto;
  -webkit-box-shadow: 5px 5px 15px #363333;
          box-shadow: 5px 5px 15px #363333;
  -webkit-transition: -webkit-transform 0.25s;
  transition: -webkit-transform 0.25s;
  transition: transform 0.25s;
  transition: transform 0.25s, -webkit-transform 0.25s;
}

* body main .grid .card:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

* body main .grid .card .profile-pic {
  display: inline-block;
  position: relative;
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 50%;
  margin: auto;
}

* body main .grid .card .profile-pic img {
  width: auto;
  height: 100%;
}

* body main .grid .card h2 {
  color: white;
  font-size: 19px;
  font-weight: 400;
  margin: 25px 0 20px 0;
  font-family: "Permanent Marker", cursive;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

* body main .grid .card p {
  display: block;
  color: white;
  height: 32%;
  font-size: 13px;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

* body main .grid .card a {
  text-decoration: none;
  color: white;
  border: 1px solid white;
  padding: 5px 10px;
  width: 100px;
  font-size: 12px;
  border-radius: 10px;
  margin-left: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 15px;
  font-style: italic;
  font-weight: 500;
  position: relative;
  overflow: hidden;
  -webkit-transition: color 0.25s;
  transition: color 0.25s;
}

* body main .grid .card a:hover {
  color: black;
}

* body main .grid .card a::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 0.25s;
  transition: -webkit-transform 0.25s;
  transition: transform 0.25s;
  transition: transform 0.25s, -webkit-transform 0.25s;
  -webkit-transform-origin: right;
          transform-origin: right;
  z-index: -1;
}

* body main .grid .card a:hover::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left;
          transform-origin: left;
}

* body main .add-new-character {
  width: 450px;
  height: 25px;
  background-color: #4b7cfb;
  padding: 20px 0px;
  text-decoration: none;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 30px auto;
  border-radius: 10px;
  font-size: 20px;
  -webkit-box-shadow: 3px 3px 5px #363333;
          box-shadow: 3px 3px 5px #363333;
  -webkit-transition: background-color 0.25s;
  transition: background-color 0.25s;
}

* body main .add-new-character:hover {
  background-color: #1b5bff;
}

* body main #section-view {
  width: 100%;
  background: #363333;
  border-radius: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  min-height: 85vh;
  padding: 60px 0 0 0;
  margin-bottom: 100px;
}

* body main #section-view #image-container {
  display: inline-block;
  position: relative;
  position: relative;
  width: 150px;
  height: 150px;
  overflow: hidden;
  border-radius: 50%;
}

* body main #section-view #image-container img {
  width: auto;
  height: 100%;
  z-index: 0;
}

* body main #section-view #name {
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-size: clamp(2.08vw, 40px, 1.5rem);
}

* body main #section-view #short-description {
  margin-top: 35px;
  text-align: center;
  font-size: 13px;
  font-weight: 200;
}

* body main #section-view #description-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 55px 0 0 0;
  width: 90%;
  word-break: break-all;
}

* body main #section-view #description-container #description {
  font-weight: 300;
}

* body main #section-view #buttons-container {
  margin-top: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 300px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

* body main #section-view #buttons-container a {
  text-decoration: none;
  font-weight: 600;
  margin-bottom: 50px;
  white-space: nowrap;
  font-size: 15px;
  font-style: italic;
}

* body main #section-view #buttons-container a:nth-child(1) {
  color: white;
  background-color: #4b7cfb;
  padding: 15px 12px;
  border-radius: 10px;
}

* body main #section-view #buttons-container a:nth-child(2) {
  color: #bf3a30;
  padding: 15px 12px;
  border-radius: 10px;
  border: 1px solid #bf3a30;
  margin-bottom: 50px;
}

* body main #preview-container {
  display: inline-block;
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
  border: 2px solid black;
  z-index: 0;
}

* body main #preview-container::before {
  content: "Preview";
  color: white;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
}

* body main #preview-container img {
  width: auto;
  height: 100%;
}

* body .loader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: block;
  margin: auto;
  width: 100px;
  height: 100px;
  border: 15px solid #bf40bf;
  border-top-color: transparent;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 15px 2px #e0b0ff, inset 0 0 15px #cf9fff;
          box-shadow: 0 0 15px 2px #e0b0ff, inset 0 0 15px #cf9fff;
  -webkit-animation: loader 2s infinite ease;
          animation: loader 2s infinite ease;
}

@-webkit-keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  75% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  75% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

* body #section-create {
  background-color: #363333;
  border-radius: 35px;
  margin-bottom: 100px;
  padding: 30px 0 0 0;
}

* body #section-create form {
  margin: 0 auto;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

* body #section-create form #myFile {
  width: 115px;
  background-color: transparent;
  position: relative;
  visibility: hidden;
  z-index: 1;
}

* body #section-create form #myFile::before {
  content: "Upload Image";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: white;
  cursor: pointer;
  visibility: visible;
  font-size: 15px;
  font-weight: 600;
}

* body #section-create form #editor {
  min-height: 30vh;
  width: 100%;
  color: white;
  border-radius: 0 0 10px 10px;
}

* body #section-create form .ql-toolbar {
  width: 100%;
  background-color: white;
  border-radius: 10px 10px 0 0;
}

* body #section-create form .ql-editor.ql-blank::before {
  color: rgba(255, 255, 255, 0.5);
}

* body #section-create form #preview-container {
  border: white solid 3px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-top: 25px;
  margin-bottom: 0px;
}

* body #section-create form #fname {
  background-color: #727071;
  height: 50px;
  font-style: italic;
  font-family: "Permanent Marker", cursive;
  font-size: clamp(3vw, 35px, 3rem);
  color: white;
  margin-top: 10px;
  margin-bottom: 10px;
  /* Positionner le placeholder correctement */
  padding-left: 25px;
  padding-top: 25px;
  padding-bottom: 35px;
}

* body #section-create form #short-description {
  background-color: #727071;
  color: white;
  height: 50px;
  padding-left: 25px;
  font-style: italic;
  margin-bottom: 10px;
}

* body #section-create input {
  color: white;
  background-color: #727071;
  border-radius: 15px;
  width: 100%;
  margin: auto;
  border: none;
}

* body #section-create input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}

* body #section-create input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}

* body #section-create input::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}

* body #section-create input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

* body #section-create #buttons-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 300px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

* body #section-create #buttons-container a {
  text-decoration: none;
  font-weight: 600;
  margin-bottom: 50px;
  white-space: nowrap;
  font-size: 20px;
}

* body #section-create #buttons-container a:nth-child(1) {
  color: white;
  background-color: #4b7cfb;
  padding: 15px 12px;
  border-radius: 10px;
}

* body #section-create #buttons-container a:nth-child(2) {
  color: #bf3a30;
  padding: 15px 12px;
  border-radius: 10px;
  border: 1px solid #bf3a30;
  margin-bottom: 50px;
}

@media screen and (max-width: 480px) {
  body {
    width: 100%;
  }
  body main .add-new-character {
    font-size: 4vw;
    width: 80vw;
  }
  header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  header h1 {
    margin-bottom: 20px;
  }
  #section-view #name {
    text-align: center;
  }
  #section-view #buttons-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #section-create #buttons-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
/*# sourceMappingURL=style.css.map */