*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    body{
        background: linear-gradient(left, #4B4EA2, #E14444) no-repeat;
        background-size: 140%;
        min-height: 100vh;
        font-family: 'Roboto', sans-serif;
        color: white;
        width: 90%;
        margin: auto;

    .profilpictures{
        width: 100px;
        height: 100px;
        overflow: hidden;
        border-radius: 50%;
        margin: auto;

        img{
            width: auto;
            height: 100%;
        }
    }

    h2{
        font-family: 'Permanent Marker', cursive;
    }

    .boxes{
        background-color: #363333;
        width: 262px;
        height: 350px;
        margin: auto;
        border-radius: 30px;
        padding: 20px;

    }

    header{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        border-bottom: 2px solid white;
        padding: 20px 0px ;

        h1{
            font-family: 'Permanent Marker', cursive;
            color: white;
            margin-right: auto;
        }

    input{
        width: 250px;
        height: 35px;
        border-radius: 10px;
        padding: 0px 0px 0px 5px;
    }

    

    



    }
    }
}

